$color-white: #fff;
$color-black: #222222;
$color-green: #4DD2A3;
$color-red: #FF0002;
$color-grey: #7E869A;

$color-text: $color-black;
$color-bg: $color-white;

//btn
$color-btn-bg: $color-green;
$color-btn-text: $color-white